name: Java Compiler
on: [push]
jobs:
  build:
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 25
      - name: Compile java file
        run: |
          javac Hello.java


